<div id="instagram" class="center">
    <mat-card class="example-card">

    <img mat-card-image src="https://instagram.fuio5-1.fna.fbcdn.net/vp/2d72f04e92f38ee1acfe3ec054281daa/5E2B4185/t51.2885-15/e35/70956763_2451392751797605_7628904527348632670_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net&amp;_nc_cat=101" alt="Setembro Amarelo">
    <mat-card-content>
    <p>
    Setembro acabou, mas os motivos da criação do setembro amarelo ainda estão presentes. O mês acabou, mas a prevenção contra o suicídio e a conscientização sobre o assunto não devem acabar por aqui. Continuem ajudando, setembro amarelo não deve ser só em setembro.
    </p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button><a target="blank" href="https://www.instagram.com/p/B3DStGaHY1c/"><fa-icon [icon]="faInstagram" size="2x"></fa-icon>  ABRIR NO INSTAGRAM</a></button>
    </mat-card-actions>
    </mat-card>

    <br/>
    <br/>

    <mat-card class="example-card">
    <img mat-card-image src="https://instagram.fuio5-1.fna.fbcdn.net/vp/2b4a304e6396d6c29f53f8033c189ad6/5E24CAA4/t51.2885-15/e35/s1080x1080/64517531_176756506669148_1796313010091561278_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net&amp;_nc_cat=108" alt="">
    <mat-card-content>
    <p>
    </p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button><a target="blank" href="https://www.instagram.com/p/By4-jTXFtZJ/"><fa-icon [icon]="faInstagram" size="2x"></fa-icon>  ABRIR NO INSTAGRAM</a></button>
    </mat-card-actions>
    </mat-card>

    <br/>
    <br/>

    <mat-card class="example-card">
    <img mat-card-image src="https://instagram.fuio5-1.fna.fbcdn.net/vp/f90f0a9de6be87b6cc8ab430874f2004/5E29F3C1/t51.2885-15/e35/p1080x1080/60710552_847163252325156_7823351980603972179_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net&amp;_nc_cat=100" alt="">
    <mat-card-content>
    <p>
    </p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button><a target="blank" href="https://www.instagram.com/p/Byu3XoqlETn/"><fa-icon [icon]="faInstagram" size="2x"></fa-icon>  ABRIR NO INSTAGRAM</a></button>
    </mat-card-actions>
    </mat-card>


    <br/>
    <br/>

    <mat-card class="example-card">
    <img mat-card-image src="https://instagram.fuio5-1.fna.fbcdn.net/vp/3d2fe0611d02d820d45f7b5110e13f7c/5E2CB3EA/t51.2885-15/e35/p1080x1080/62378178_152624275865097_2560267979506278986_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net&amp;_nc_cat=109" alt="">
    <mat-card-content>
    <p>
    </p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button><a target="blank" href="https://www.instagram.com/p/ByscrV7lwvR/"><fa-icon [icon]="faInstagram" size="2x"></fa-icon>  ABRIR NO INSTAGRAM</a></button>
    </mat-card-actions>
    </mat-card>

    <br/>
    <br/>

    <mat-card class="example-card">
    <img mat-card-image src="https://instagram.fuio5-1.fna.fbcdn.net/vp/f7d4cf2f03cf51a8702b1bace86b56ef/5E1FA67E/t51.2885-15/e35/s1080x1080/62536084_194383284812559_2716451352212832581_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net&amp;_nc_cat=103" alt="">
    <mat-card-content>
    <p>
    </p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button><a target="blank" href="https://www.instagram.com/p/BypxawLFGVy/"><fa-icon [icon]="faInstagram" size="2x"></fa-icon>  ABRIR NO INSTAGRAM</a></button>
    </mat-card-actions>
    </mat-card>
    <br/>
    <br/>

    <mat-card class="example-card">
    <img mat-card-image src="https://instagram.fuio5-1.fna.fbcdn.net/vp/5329ad80bb99be41c59dffd1059851e5/5E24CE24/t51.2885-15/e35/s1080x1080/61611108_173760366965157_2425110091137523545_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net&amp;_nc_cat=109" alt="">
    <mat-card-content>
    <p>
    </p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button><a target="blank" href="https://www.instagram.com/p/BykhpiLl16c/"><fa-icon [icon]="faInstagram" size="2x"></fa-icon>  ABRIR NO INSTAGRAM</a></button>
    </mat-card-actions>
    </mat-card>

    <br/>
    <br/>

    <mat-card class="example-card">
    <img mat-card-image src="https://instagram.fuio5-1.fna.fbcdn.net/vp/dc8c2a87f8b0663fc68967f2b1d7a48b/5E24A38E/t51.2885-15/e35/s1080x1080/61634025_453050972120807_5923620733323088160_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net&amp;_nc_cat=111" alt="">
    <mat-card-content>
    <p>A ansiedade é uma emoção normal do ser humano, no entanto, a ansiedade excessiva pode se tornar uma doença que atinge muitas pessoas. Deixamos aqui alguns sintomas da ansiedade, caso se identifique com alguns, procure um médico ou especialista.</p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button><a target="blank" href="https://www.instagram.com/p/ByVBKmolmd-/"><fa-icon [icon]="faInstagram" size="2x"></fa-icon>  ABRIR NO INSTAGRAM</a></button>
    </mat-card-actions>
    </mat-card>

    <br/>
    <br/>

    <mat-card class="example-card">
    <img mat-card-image src="https://instagram.fuio5-1.fna.fbcdn.net/vp/a5d2fd042948af6aadb23beedaf60be1/5E22014A/t51.2885-15/e35/s1080x1080/61108978_320914445469583_4642931464982728118_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net&amp;_nc_cat=107" alt="">
    <mat-card-content>
    <p>A síndrome do pânico é uma crise de ansiedade aguda e intensa, com duração de 15 a 30 minutos e manifestações físicas. Após a crise, vem uma forte sensação de exaustão e sonolência. Isso porque o indivíduo fez um exercício físico e mental pesado, que inclui um alto gasto de energia. Se você tem 4 ou mais desses sinais ao mesmo tempo, procure um médico.</p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button><a target="blank" href="https://www.instagram.com/p/ByQFgvbl4bB/"><fa-icon [icon]="faInstagram" size="2x"></fa-icon>  ABRIR NO INSTAGRAM</a></button>
    </mat-card-actions>
    </mat-card>


    <br/>
    <br/>

    <mat-card class="example-card">
    <img mat-card-image src="https://instagram.fuio5-1.fna.fbcdn.net/vp/f8bd880749f27b467a366ce3bc095938/5E3CD530/t51.2885-15/e35/p1080x1080/61221118_348164569217781_1823259151347845549_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net&amp;_nc_cat=109" alt="">
    <mat-card-content>
    <p>Nosso objetivo do dia de hoje é aconselhar e conscientizar como agir e ajudar pessoas com ansiedade. Estar presente e dar apoio é o melhor a fazer.</p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button><a target="blank" href="https://www.instagram.com/p/ByFy_hRlmIo/"><fa-icon [icon]="faInstagram" size="2x"></fa-icon>  ABRIR NO INSTAGRAM</a></button>
    </mat-card-actions>
    </mat-card>

    <br/>
    <br/>

    <mat-card class="example-card">
    <img mat-card-image src="https://instagram.fuio5-1.fna.fbcdn.net/vp/ff112501a29e1820a7bce27008faed4a/5E1C84BE/t51.2885-15/e35/p1080x1080/60296915_2488473237839103_8028162436372412738_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net&amp;_nc_cat=103" alt="">
    <mat-card-content>
    <p>Como nosso objetivo principal é conscientizar alguns dos problemas psicológicos que atingem um grande quantidade de pessoas, deixamos aqui alguns dos principais sintomas da depressão.</p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button><a target="blank" href="https://www.instagram.com/p/ByC9UnKBGX2/"><fa-icon [icon]="faInstagram" size="2x"></fa-icon>  ABRIR NO INSTAGRAM</a></button>
    </mat-card-actions>
    </mat-card>

    <br/>
    <br/>

    <mat-card class="example-card">
    <img mat-card-image src="https://instagram.fuio5-1.fna.fbcdn.net/vp/5d28c103c66513c1b86cc4aacd914424/5E27E965/t51.2885-15/e35/p1080x1080/60765610_133465541173467_8284543885153619903_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net&amp;_nc_cat=103" alt="">
    <mat-card-content>
    <p>Nosso projeto tem o intuito de conscientizar e mostrar às pessoas que problemas psicológicos são mais sérios do que muitos pensam. Nosso objetivo é criar um aplicativo para entreter as pessoas com problemas diários mostrando que elas não são as únicas passando por dificuldades.</p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button><a target="blank" href="https://www.instagram.com/p/ByAXbRelzFb/"><fa-icon [icon]="faInstagram" size="2x"></fa-icon>  ABRIR NO INSTAGRAM</a></button>
    </mat-card-actions>
    </mat-card>

</div>