.center {
  justify-content: center;
  margin: auto;
}

.example-card {
    margin: auto;

  }
  
  .example-header-image {
    background-image: url('https://instagram.fuio5-1.fna.fbcdn.net/vp/07f3e63c61bf5ef2da23d33cfdd99322/5E31A525/t51.2885-19/s320x320/60368735_348569595828844_6045061186586673152_n.jpg?_nc_ht=instagram.fuio5-1.fna.fbcdn.net');
    background-size: cover;
  }
  

  @media (max-width: 479px) {
    #instagram {
        font-size: 13px;
        width: 100%;
      }
  }

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 800px) {
  #instagram {
    font-size: 13px;
    width: 60%;
    justify-content: center;
    align-content: center;
  } 
}